{% extends 'base.html' %}

{% block content %}
<section class="hero is-fullheight">
    <div class="hero-body has-text-centered">
        <div class="container is-fullheight">
            <article class="panel is-link">
                <p class="panel-heading title is-1">MTSniff</p>
                <button class="button is-primary is-large is-fullwidth">Start
                    Scan</button>
                <button class="button is-info is-large is-fullwidth my-3">Saved
                    Devices</button>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    Signal Strength: 0 dBm | Coords: 0.0, 0.0
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    Signal Strength: 0 dBm | Coords: 0.0, 0.0
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    Signal Strength: 0 dBm | Coords: 0.0, 0.0
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    Signal Strength: 0 dBm | Coords: 0.0, 0.0
                </a>
            </article>
        </div>
    </div>
</section>
{% endblock %}